.about {
    @include adaptiveClamp(padding-top, 60, 32);
    &__container {
    }

    &__body {
        min-height: rem(500);
        @include adaptiveClamp(padding-top, 65, 38);
        @include adaptiveClamp(padding-left, 40, 16);
        @include adaptiveClamp(padding-right, 40, 16);
        position: relative;
        &::before {
            position: absolute;
            overflow: hidden;
            content: '';
            width: 100%;
            height: 100%;
            background: url(@img/about-fon.png) no-repeat center right / cover;
            top:0;
            left: 0;
            z-index: -1;
            @include adaptiveClamp(border-radius, 30, 20);
            @media(max-width:520px){
                background: url(@img/about-fon-mob.png) no-repeat center right / cover;
            }
        }
    }

    &__quote {
        display: inline-block;
        font-weight: 500;
        @include adaptiveClamp(font-size, 20, 14);
        color: var(--white);
        border: 1px solid var(--white);
        border-radius: 25px;
        padding: rem(5) rem(11);
        @include adaptiveClamp(margin-bottom, 35, 25);
    }

    &__title {
        font-weight: 600;
        @include adaptiveClamp(font-size, 45, 25);
        color: var(--white);
        @include adaptiveClamp(margin-bottom, 55, 45);
        max-width: rem(600);
    }

    &__button-row {
        display: flex;
        @include adaptiveClamp(gap, 15, 12);
        @media(max-width:520px){
            flex-direction: column;
        }
    }

    &__button {
        @include adaptiveClamp(font-size, 18, 14);
        @media(max-width:520px){
            width: 100%;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        @include adaptiveClamp(gap, 20, 18);
        margin-top: rem(-100);
        z-index: 1;
        @media(max-width:750px){
            grid-template-columns: 1fr;
        }
        @media(max-width:520px){
            margin-top: rem(-30);
        }
        @media(max-width:400px){
            margin-top: rem(-60);
        }
        @media(max-width:350px){
            margin-top: rem(-100);
        }
    }

    &__content {
        
    }
}
.button {
}
.white {
}
.about-content {
    border-radius: 23px;
    box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.08);
    background: var(--white);
    @include adaptiveClamp(padding-top, 28, 24);
    @include adaptiveClamp(padding-left, 24, 18);
    @include adaptiveClamp(padding-bottom, 28, 24);
    @include adaptiveClamp(padding-right, 24, 18);
    display: flex;
    flex-direction: column;
    align-items: start;
    @include adaptiveClamp(gap, 18, 16);
    &__quote {
        display: inline-block;
        @include adaptiveClamp(font-size, 14, 12);
        color: var(--blue);
        border: 1px solid var(--blue);
        border-radius: 25px;
        padding: rem(4.5) rem(12);
        
    }

    &__title {
        font-weight: 500;
        @include adaptiveClamp(font-size, 22, 18);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(15);
    }

    &__item-list {
        @include adaptiveClamp(padding-left, 20, 17);
        @include adaptiveClamp(font-size, 17, 15);
        line-height: 120%;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            width: rem(7);
            height: rem(7);
            @include adaptiveClamp(top, 6, 4);
            // top: rem(4);
            left: 0;
            border-radius: 1px;
            background-color: #0074d9;
        }
        &.rhomb::before {
            transform: rotate(45deg);
        }
    }

    &__item-listrhomb {
    }
}
.rhomb {
}
