.help {
    @include adaptiveClamp(padding-bottom, 117, 140);
    position: relative;
    &::before {
        position: absolute;
        content: '';
        width: rem(598);
        height: rem(1043);
        background: url(@img/help-fon.png) no-repeat center center / contain;
        top:rem(-450);
        right: 0;
        z-index: -1;
        @media(max-width:520px){
            display: none;
        }
    }
    &__container {
    }

    &__title {
        margin-bottom: rem(18);
        max-width: rem(400);
    }

    &__text {
        @include adaptiveClamp(margin-bottom, 40, 28);
        max-width: rem(640);
        @include adaptiveClamp(font-size, 20, 18);
        font-weight: 500;
        line-height: 120%;
    }

    &__button-row {
    }

    &__button.button {
        padding-top: rem(12);
        padding-bottom: rem(12);
        svg {
            width: rem(26);
        }

        @media(max-width:420px){
            width: 100%;
        }
    }
}
.block {
}
.button {
}
.blue {
}
